/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Apr 17, 2017, 10:25:07 AM
    Author     : BGILLING
*/

fieldset {
    position: relative;
}

#edit-objectsformset {
    background-color: #e7e7e7;
}

#mets_editor_wrapper {
    width: 100%;
    min-width: 1160px;
    height:672px;
    overflow-x: auto;
}

.scroll_short {
    overflow-y: scroll;
}

.treeview_editor, #xonomy_editor {
    width: 372px;
    height: 670px;
    float: left;
}

#xonomy_editor {
    display: none;
}

#page_preview {
    width: 520px;
    min-width: 520px;
    top: 6px;
    left: 20px;
    position: absolute;
    border: 1px solid #F2F2F2;
    background-color: #f8f8f8;
    text-align: center;
    background-repeat: repeat;
    background: url('../images/check-32.png');
    height: 662px;
    overflow: auto;
}

#theImg {
    height: 630px;
    position: relative;
    top: 0px;
}

#img_size {
    top: 0px;
    left: 550px;
    position: absolute;
    padding: 0px 10px 10px 10px;
    margin-top: 0px;
    right: 20px;
}


/* --------- For the page_selector elements --------- */
#page_selector {
    background-color: white;
    border: 1px solid #ccc;
    top: 100px;
    left: 550px;
    position: absolute;
    padding: 0px;
    margin-left: 4px;
    margin-top: 0px;
    height: 558px;
    overflow-x: hidden;
    overflow-y: auto;
    right: 20px;
    min-width: 100px;
}

.mini_thumb {
    vertical-align: middle;
    padding-right: 5px;
    margin-bottom: 1px;
    margin-top: 1px;
    cursor: pointer;
}

.mini_thumb_div {
    width: 19%;
    float: left;
}

.page_info_wrap_div {
    border-top: 1px solid #999;
    clear: both;
}

.page_info {
    vertical-align: middle;
    display:inline-block;
    position: relative;
    top: 0px;
    width: 80%;
    overflow-x: hidden;
}

.page_info code {
    font-size: smaller;
}

/* ---------- resize form elements --------- */
#rs_main{
    background-color: white;
    position: absolute;
    top:0px;
    right: 0;
    left:400px;
}
#rs_sidebar{
   background-color: white;
   width:400px;
   left:0;
   background-color: #e7e7e7;
   position: absolute;
   top:0px;
   overflow: auto;
   margin-left:20px;
}

#rs_dragbar{
   background-color:#555;
   height:670px;
   float: right;
   width: 3px;
   cursor: col-resize;
   margin-right: 20px;
}

.ime_right_floater {
   float: right;
}

.ime_smaller {
   font-size: smaller;
}

.struct_page {
    color: #777;
    padding-left: 1em;
}

.struct_section {
    font-weight: bold;
    color: #000;
}

.struct_selectbox {
    width:100%!important;
    height:100%!important;
    overflow-y: auto;
}