/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 17, 2017, 10:25:07 AM
    Author     : BGILLING
*/

#mets_editor_wrapper {
    min-width: 1350px;
}

.scroll_short {
    max-height: 650px;
    height: 650px;
    overflow-y: scroll;
}

#xonomy_editor {
    width: 600px;
}

#page_preview {
    width: 500px;
    min-width: 500px;
    top: 32px;
    left: 640px;
    position: absolute;
    border: 1px solid #F2F2F2;
    background-color: #f8f8f8;
    text-align: center;
    background-repeat: repeat;
    background: url('../images/check-32.png');
}

#theImg {
    max-height: 642px;
}

#img_size {
    top: 26px;
    left: 1160px;
    position: absolute;
    padding: 0px 10px 10px 10px;
    margin-top: 0px;
}


/* --------- For the page_selector elements --------- */
#page_selector {
    background-color: white;
    border: 1px solid #ccc;
    top: 100px;
    left: 1160px;
    position: absolute;
    padding: 0px 10px 10px 10px;
    margin-top: 0px;
    height: 574px;
    width: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

.mini-thumb {
    vertical-align: middle;
    padding-right: 5px;
    margin-bottom: 4px;
}

.page_info_div {
    vertical-align: middle;
    display:inline-block;
}

/* ---------- resize form elements --------- */
